In [1]:
import numpy as np
import pandas as pd

In [21]:
sheets=[]
for i in range(3): 
    sheets.append(pd.read_excel('Control_sample_sequencing_erros.xlsx', sheet_name=i, header=None))

In [51]:
stats=pd.DataFrame([[np.mean(sheets[i][4]), np.std(sheets[i][4], ddof=0)] for i in range(3)], 
                   columns=['mean', 'std'], index=['SRR17058'+str(x) for x in range(58,61)])
stats['mean+3std']=stats['mean']+3*stats['std']

In [28]:
stats.to_excel('Error_stats.xlsx')

In [35]:
max(sheets[1][4])

0.0047

In [39]:
print(stats)

                mean       std  mean+3std
SRR1705858  0.002565  0.000717   0.004717
SRR1705859  0.002369  0.000524   0.003941
SRR1705860  0.002503  0.000780   0.004844

In [46]:
strain=pd.read_excel('Strain_0001_variants.xlsx', header=None)
strain.head()

            0    1  2  3       4
0  KF848938.1   72  A  G  0.9996
1  KF848938.1  117  C  T  0.9982
2  KF848938.1  254  A  G  0.0017
3  KF848938.1  276  A  G  0.0017
4  KF848938.1  307  C  T  0.0094

In [53]:
print(strain[strain[4]>min(stats['mean']+2*stats['std'])])

             0     1  2  3       4
0   KF848938.1    72  A  G  0.9996
1   KF848938.1   117  C  T  0.9982
4   KF848938.1   307  C  T  0.0094
10  KF848938.1   774  T  C  0.9996
14  KF848938.1   999  C  T  0.9986
18  KF848938.1  1260  A  C  0.9994
20  KF848938.1  1458  T  C  0.0084